<footer class="bg-black border-t border-zinc-900 py-12 relative z-10">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center mb-8">
            <!-- Logo -->
            <a href="/index.html"
                class="flex items-center gap-3 cursor-pointer group mb-6 md:mb-0">
                <img src="/assets/logos/RED WOLF Logo.png" class="footer-logo">
                <div class="flex flex-col">
                    <span
                        class="font-display font-bold text-lg tracking-wider text-zinc-500 group-hover:text-white transition-colors">RED
                        WOLF SECURITY</span>
                </div>
            </a>
            <!-- Navigation -->
            <div class="flex flex-wrap justify-center gap-8">
                <a href="/index.html"
                    class="text-sm font-semibold text-gray-500 hover:text-redwolf-gold transition-colors uppercase tracking-wide">Home</a>
                <a href="/about.html"
                    class="text-sm font-semibold text-gray-500 hover:text-redwolf-gold transition-colors uppercase tracking-wide">About
                    Us</a>
                <a href="/services.html"
                    class="text-sm font-semibold text-gray-500 hover:text-redwolf-gold transition-colors uppercase tracking-wide">Services</a>
                <a href="/contact.html"
                    class="text-sm font-semibold text-gray-500 hover:text-redwolf-gold transition-colors uppercase tracking-wide">Contact</a>
            </div>
        </div>
        <div
            class="border-t border-zinc-900 pt-8 flex flex-col md:flex-row justify-between items-center">
            <div class="text-zinc-700 text-xs mb-4 md:mb-0"> &copy; 2025
                Red Wolf Security. All Rights Reserved. </div>
            <div
                class="text-zinc-800 text-[10px] font-mono uppercase tracking-[0.2em] hover:text-redwolf transition-colors cursor-default">
                Designed by <span
                    class="text-redwolf font-bold text-sm flex items-center gap-2 transition-all">
                    <a href="https://nexoraweb.agency/"
                        target="_blank">
                        Nexora Web Agency </a>
                </span>
            </div>
        </div>
    </div>
</footer>
